body {
    background-color:silver;
    display: flex;
    flex-direction: column;
    
}
main {
    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
    font-family:fantasy;
    color: orange;
    background-color: dimgray;
    padding: 0 5% 0 5%;
    font-size: larger;
    box-shadow: 0 4px 9px 0 darkslategray;
}
.main_box {
    margin: 10%;
    
    display: block;
    background-color: burlywood;
    text-align: center;
    box-shadow: 0 4px 9px 0 darkslategray;
}